body{
  font-family: arial,sans-serif;
  font-size: small;
}

a {
  text-decoration: none;
  color: black;
  padding: 10;
}

.nav {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-family:arial, sans-serif;
    font-size:13px;
  }

.middle {
  padding: 150; 
  text-align: center;
}

.signin {
  border: 1px solid #4285f4;
  font-weight: bold;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);  
  background-image:-webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));    
  color:rgb(255, 255, 255);    
  height:28px;
  line-height:28px;
  outline-color:rgb(255, 255, 255);
  outline-width:0px;
  padding-bottom:0px;
  padding-left:12px;
  padding-right:12px;
  padding-top:0px;
}

.icon{
  height:20px;
  position:relative;
  top:5px;
  right: 3px;
}

.search-icon {
  height: 15px;
  top: 3px;
}

.searchbar {
  margin:0 auto;
  width:575px;
  border-radius: 30px;
  border:1px solid #dcdcdc;
  margin-top: 20px;
}

.searchbox {
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
}

.searchbar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.searchbar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}

.buttons{
  margin-top:30px;
}
.button{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
.button:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}
.button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}

.bottom {
  padding-top: 25px;
}

.bottom > a {
  color: #1a0dab;
  text-decoration: none;
  padding: 0 3px;
}

.bottom > a:visited {
  color: #609;
}

.bottom-top {
  font-size: 15px;
  /* margin-left: 30px; */
  text-align: left;  
  color: rgba(0,0,0,.54);
  padding-left: 27px;
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #e4e4e4
}

.footerbar {
  display: block;
  background: #f2f2f2;
  line-height: 40px;
  min-width: 980px;
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  font-size: 10pt;
}

.bottom-right {
  float: right;
  margin-right: 30px;
  white-space: nowrap;
}

.footer-item {
  font-size: 15px;
  color: #5f6368;
  line-height: 40px;
  padding-left: 27px;
  margin: 0 !important;
  margin-left: 30px;
  white-space: nowrap;
  text-decoration: none;
}